@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&family=Kanit:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .btn{
        @apply border border-slate-200 px-3 py-3 text-white w-40 text-center my-2 shadow-md rounded-md text-xl
    }
    .flex-centered{
        @apply flex justify-center items-center 
    }
    .flex-vertical{
        @apply flex flex-col justify-evenly items-start 
    }
    .h1{
        @apply font-extrabold text-5xl 
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('./assets//Hexagon.svg');
    background-size: cover;
    background-position: center;
}
h1,h2,h3{
    font-family: 'Kanit', sans-serif;

}
span{
    color: #1942A0;
}
button{
    background-color: #1942A0;
}