@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components{
    .btn{
        @apply border border-slate-200 px-3 py-3 bg-blue-600 text-white w-40 text-center my-2 shadow-md rounded-md text-xl
    }
    .flex-centered{
        @apply flex justify-center items-center gap-3
    }
    .flex-vertical{
        @apply flex flex-col justify-around items-start gap-5 md:justify-center md:gap-5
    }
    .h1{
        @apply font-extrabold text-5xl 
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,button{
    font-family: 'Climate Crisis', cursive;

}
